#header {
  color: #6c94be;
}

#menu a {
  color: #111;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

.post a {
  color: red;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.button-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}

.clearfix, .row {
  display: block;
  zoom: 1;
}
.clearfix:after, .row:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.script-alert {
  display: none;
}
.no-js .script-alert {
  display: block;
}

@media screen {
  .screencolor {
    color: green;
  }
}
@media screen and (min-width: 768px) {
  .screencolor {
    color: red;
  }
}
@media tv {
  .screencolor {
    color: black;
  }
}

body, iframe {
  background-color: #ccc;
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: contain;
  padding-top: 60px;
  padding-bottom: 20px;
  border-style: solid;
  border-left-width: 1px;
  border-left-color: #666;
  border-right-width: 5px;
  border-right-color: #999;
  border-image-source: url(../img/border-img.png);
  border-image-repeat: round;
  font-size: 16px;
  font-weight: 300;
  font-family: 'sans serif';
}

.no-formattribute body, .no-formattribute iframe {
  background-color: red;
}

.row {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

.full-width {
  margin: 0;
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
  margin: 0;
  display: block;
  float: left;
  width: 16.66667%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.blue-button {
  color: white;
  background-color: #005288;
}
.blue-button:hover {
  background-color: #023353;
}
