// Variables
$nice-blue: #5B83AD;  
$light-blue: $nice-blue + #111;  
  
#header {  
    color: $light-blue;  
}

@mixin bordered() {
	border-top: dotted 1px black;  
    border-bottom: solid 2px black;
}

#menu a {  
    color: #111;  
    @include bordered();  
}   
  
.post a {  
    color: red;  
    @include bordered();  
}

@mixin border-radius($radius: 5px) {   
    -webkit-border-radius: $radius;   
       -moz-border-radius: $radius;   
            border-radius: $radius;   
}  
  
.button {  
    @include border-radius(2px);  
}  
.button-rounded {  
    @include border-radius();  
}

#header {  
    color: black;  
    .navigation {  
        font-size: 12px;  
    }  
    .logo {  
        width: 300px;  
    }  
}

.clearfix {  
    display: block;  
    zoom: 1;  
    &:after {  
        content: " ";  
        display: block;  
        font-size: 0;  
        height: 0;  
        clear: both;  
        visibility: hidden;  
    }     
}  
  
.script-alert {  
    display: none;  
    .no-js & {  
        display: block;  
    }  
}

.screencolor{   
    @media screen {   
        color: green;  
        @media (min-width:768px) {   
            color: red;   
        }   
    }   
    @media tv {   
        color: black;   
    }   
}

body {  
    background: {  
        color: #ccc;  
        image: url(../img/bg.png);  
        attachment: fixed;  
        repeat: repeat-x;  
        size: contain;  
    }  
    padding: {  
        top: 60px;  
        bottom: 20px;  
    }  
    border: {  
        style: solid;  
        left: {  
            width: 1px;  
            color: #666;  
        }  
        right: {  
            width: 5px;  
            color: #999;  
        }  
        image: {  
            source: url(../img/border-img.png);  
            repeat: round;  
        }  
    }  
    font: {  
        size: 16px;  
        weight: 300;  
        family: 'sans serif';  
    }  
}

.no-formattribute body {
	background-color: red;
}

iframe {
	@extend body;
}

$num-grid-columns: 12;  
$grid-column-gutter: 30px;  
  
.row {  
    display: block;  
    @extend .clearfix;  
    margin-left: -$grid-column-gutter / 2;  
    margin-right: -$grid-column-gutter / 2;  
    width: 100%;  
}  
  
@mixin column($num-columns: 1) {  
    margin: 0;  
    display: block;  
    float: left;  
    width: percentage($num-columns / $num-grid-columns);  
    box-sizing: border-box;  
    padding-left: $grid-column-gutter / 2;  
    padding-right: $grid-column-gutter / 2;  
}  
  
.full-width {  
    @include column(12);  
}  
.sidebar {  
    @include column(2);  
}

.blue-button {    
    $blue-color: #005288;       
    color: white;     
    background-color: $blue-color;       
    &:hover {         
        background-color: desaturate(darken($blue-color, 10%), 5%);  
    }  
}
